@import "./mixins";

body {
  color: $blue-light;
  background-color: $dark;
  position: relative;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
}

#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#hud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}

#curtain {
  position: absolute;
  @include inset;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
  pointer-events: none;

  & > * {
    z-index: 19;
  }

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: none;

  &.prompt {
    display: block;
    opacity: 1;
  }

  #confirm {
    position: absolute;
    @include inset;
    margin: auto;
    margin-top: 30vh;
    width: 30vw;
    height: 25vh;
  }
  .btn,
  span {
    position: absolute;
    bottom: -5rem;
    &.cancelBtn {
      left: -4rem;
    }
    &.cancelText {
      left: -2rem;
    }
    &.acceptBtn {
      right: -4rem;
    }
    &.acceptText {
      color: $dark;
      right: -2rem;
    }
  }
  .btn {
    z-index: 21;
    pointer-events: auto;
    cursor: pointer;
    path {
      pointer-events: none;
    }
    &:hover {
      transform: translate(2px, -2px);
    }
  }
  span {
    z-index: 22;
    bottom: -5.25rem;
    margin: 1.3rem;
    pointer-events: none;
  }
  h4 {
    font-size: 28px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid $light;
  }
  p {
    margin-left: 0.75rem;
  }
}

#feed {
  position: absolute;
  right: 1.25rem;
  top: 5rem;
}

.post {
  &:nth-child(1) {
    margin-top: 0;
  }
  margin-top: -1.5rem;
  display: flex;
  align-items: flex-end;
  .msg {
    margin-left: 0.2rem;
    margin-bottom: 0.75rem;
    height: 68px;
    width: 156px;
    padding: 0rem 1rem;
    color: $light;
    background-color: $dark;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;
  }
}

.box {
  padding: 1.2rem 1.6rem;
  background: rgba(27, 38, 44, 0.6);
  border: 2px solid #bbe1fa;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;

  @include text-body;

  color: $light;
}

.composerHelp {
  position: absolute;
  left: 2rem;
  bottom: 13rem;
  font-size: 24px;
  color: $light;
  background: rgba(27, 38, 44, 0.6);
  width: 412px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  &.prompt {
    opacity: 1;
  }
}

#composer {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  box-shadow: -4px 8px 4px rgba(0, 0, 0, 0.25);
  &::placeholder {
    color: rgba(187, 225, 250, 0.55);
  }
}

#logo {
  position: relative;
  left: 0.5rem;
  top: 3rem;
}
